#back-to-catalog-link {
    color: blue;
}

#back-to-catalog-link:hover {
    color: maroon;
}

.catalogue {
    padding-top: 20px;
    width: 800px;
    margin: auto;
}

.catalogue-category {
    padding: 10px 0 20px;
}

.catalogue-category-title {
    color: #666666;
    font-size: 1.1em;
    padding: 0 0 15px;
}

.catalogue-entry-list {
    padding-top: 5px;
}

.catalogue-entry {
}

.catalogue-entry a {
}

.catalogue-entry a:hover {
    background: #cecece;
}

.catalogue-entry-text {
    padding: 0 0 10px;
    width: 100%;

}


