#examples-index {
    text-align: center;
}

table.examples-index {
    width: 100%;
    padding: 0;
    background: #EFEFFB;
}

table.examples-index td.col1 {
    vertical-align: top;
    text-align: left;
    width: 300px;
    border: solid 1px lightgray;
    padding: 5px;
}

table.examples-index td.col1 p {
    color: #666666; /*line-height: 1.417em;*/
    padding-top: 0 !important;
    width: 90%;
}

table.examples-index td.col2 {
    vertical-align: top;
    border: solid 1px lightgray;
    padding: 5px;
}

table.examples-index td.col2 p {
    color: #666666; /*line-height: 1.417em;*/
    padding-top: 0 !important;
}

table.sandbox-main {
    width: 100%;
    padding: 0;
}

table.sandbox-main td.col1 {
    border: solid 1px lightgray;
    vertical-align: top;
    background: #EFEFFB;
    text-align: right;
    width: 580px;
}

table.sandbox-main td.col2 {
    vertical-align: top;
    padding-left: 10px;
}

div.sandbox-description {
    width: 100%;
}

div.source {
    border: none;
    padding: 3px;
    width: 590px;
    float: left;
}

/* Canvas area displaying pre-load progress messages */
div.sandbox-progress {
    width: 360px;
    height: 360px;
    background: #000000;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
}

/* Canvas area displaying errors */
div.sandbox-error {
    width: 360px;
    height: 360px;
    background: #aa0000;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
}

/* Canvas area displaying scene */
div.sandbox-canvas {
    border: solid 1px;
    background: black;
    width: 360px;
    height: 360px;
}

.what-is-this-heading {
    background: #FFFFFF url(/portal/sites/all/themes/foundation/icons/medium/shadow/nav_down_green.png) no-repeat scroll right center;
    color: #444444;
    font-family: Helvetica, Arial, Tahoma, Verdana, "Lucida Grande", sans-serif;
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-right: 34px;
    padding-top: 2px;
    vertical-align: middle;
}

.sandbox-button {
    color: blue;
}

.help {
}

.help p {
    line-height: 1.417em;
    color: #666;
    padding-top: 8px;
}

.help p span {
    color: #333;
}

.help a {
    border-bottom: 1px dotted;
    text-decoration: none;
}
