<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

<script src="{{ page.base_url }}bower_components/jquery/jquery.min.js"></script>

<!-- code syntax highlighting -->
<link href="{{ page.base_url }}bower_components/google-code-prettify/src/prettify.css" rel="stylesheet"/>

<script>

    var utils = {
        addPrettify: function () {
            $('pre').each(function() {
                var $this = $(this);
                if (!$this.hasClass('noprettyprint')) {
                    $this.addClass('prettyprint');
                }
            });
              
            $.getScript('{{ page.base_url }}bower_components/google-code-prettify/src/prettify.js', function() {
                prettyPrint();
            });
        }
    }

    $(document).ready(function () {
        utils.addPrettify();
    });

</script>

<!-- slider -->
<script src="{{ page.base_url }}bower_components/bxslider-4/jquery.bxslider.min.js"></script>
<link href="{{ page.base_url }}bower_components/bxslider-4/jquery.bxslider.css" rel="stylesheet"/>

<!-- extra styling -->
<link href="{{ page.base_url }}assets/css/styles.css" rel="stylesheet"/>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="{{ page.base_url }}bower_components/html5shiv/dist/html5shiv.js"></script>
  <script src="{{ page.base_url }}bower_components/respond/respond.min.js"></script>
<![endif]-->

<!-- Favicons -->
<!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ page.base_url }}assets/ico/apple-touch-icon-144-precomposed.png"> -->
<link rel="shortcut icon" href="{{ page.base_url }}assets/ico/favicon.png">
