<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>
    {% if page.title == "SceneJS" %}
        {{ page.title }}
    {% else %}
        {{ page.title }} &middot; SceneJS
    {% endif %}
</title>

<script>
    window.BASE_URL = '{{ page.base_url }}';
</script>

<script src="{{ page.base_url }}assets/js/jquery-1.8.3.min.js"></script>

<!-- slider -->
<script src="{{ page.base_url }}assets/js/jquery.bxslider.min.js"></script>
<link href="{{ page.base_url }}assets/css/jquery.bxslider.css" rel="stylesheet"/>

<!-- code syntax highlighting -->
<link href="{{ page.base_url }}assets/css/prettify.css" rel="stylesheet"/>
<script src="{{ page.base_url }}assets/js/prettify.js"></script>

<!-- general website helper functions -->
<script src="{{ page.base_url }}assets/js/utils.js"></script>

<!-- extra styling -->
<link href="{{ page.base_url }}assets/css/styles.css" rel="stylesheet"/>


<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="{{ page.base_url }}assets/js/html5shiv.js"></script>
  <script src="{{ page.base_url }}assets/js/respond.min.js"></script>
<![endif]-->

<!-- Favicons -->
<!--
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ page.base_url }}assets/ico/apple-touch-icon-144-precomposed.png">
-->
<link rel="shortcut icon" href="{{ page.base_url }}assets/ico/favicon.png">

