<div id="header">
    <div class="inner">
        <ul class="bxslider">
            <li>
                <a href="{{ page.base_url }}examples.html?page=city"><img alt="" src="{{ page.base_url }}assets/img/procedural-city.jpg" title="SceneJS Example: Procedurally-Generated City"></a>
            </li>

            <li>
                <a href="http://bimsurfer.org"><img alt="" src="{{ page.base_url }}assets/img/bimSurfer.jpg" title="BIMSurfer - Open-Source IFC Viewer"></a>
            </li>

            <li>
                <a href="{{ page.base_url }}examples.html?page=customHeightmap"><img alt="" src="{{ page.base_url }}assets/img/heightMapWithFog.jpg" title="SceneJS Example: Heightmap with Fog"></a>
            </li>

            <li>
                <a href="http://www.biodigital.com/biodigital-human.html"><img alt="" src="{{ page.base_url }}assets/img/human.jpg" title="BioDigital Human: A Web-based atlas of human anatomy and conditions"></a>
            </li>

            <li>
                <a href="https://smiletrain.biodigitalhuman.com/home/"><img alt="" src="{{ page.base_url }}assets/img/smiletrain.jpg" title="Smile Train: World's first surgery simulator to train doctors for cleft repair surgery "></a>
            </li>

            <li>
                <a href="{{ page.base_url }}examples.html?page=tronTank"><img alt="" src="{{ page.base_url }}assets/img/tronTank.jpg" title="SceneJS Example: Tank Program from the 1982 Disney motion picture Tron"></a>
            </li>

            <li>
                <a href="http://www.biodigital.com/biodigital-human.html"><img alt="" src="{{ page.base_url }}assets/img/bdhuman-skin.png" title="BioDigital Human: Skin Cross-Section"></a>
            </li>

            <li>
                <a href="http://www.biodigital.com/biodigital-human.html"><img alt="" src="{{ page.base_url }}assets/img/salmonella.png" title="BioDigital Human: Salmonella Bacterium"></a>
            </li>

            <li>
                <a href="{{ page.base_url }}examples.html?page=bubbles"><img alt="" src="{{ page.base_url }}assets/img/bubbles.jpg" title="SceneJS Examples: Bubbles using a custom fragment shader"></a>
            </li>

            <li>
                <a href="{{ page.base_url }}examples.html?page=multitexturing"><img alt="" src="{{ page.base_url }}assets/img/earth.jpg" title="SceneJS Example: Earth rendered with color, specular, alpha and glow maps"></a>
            </li><!--<li>-->
            <!--<a href="http://openglinsights.com/"><img-->
            <!--src="{{ page.base_url }}assets/img/openGLInsights.jpg" alt=""-->
            <!--title="SceneJS: A WebGL-Based Scene Graph Engine - OpenGL Insights 2012"/></a>-->
            <!--</li>-->
        </ul>
    </div>
</div>


<script>

    var addSlider = function () {
        $('.bxslider').bxSlider({
            mode: 'fade',
            pause: 6000,
            useCSS: false,
            infiniteLoop: true,
            hideControlOnEnd: true,
            speed: 1000,
            captions: true,
            auto: true,
            pager: false
        });
    };

    $(document).ready(addSlider);

</script>
