<div id="top">
    <a href="/">
        <div style="width: 200px; height: 70px; float: left;">
        </div>
    </a>
    <div class="links">
        <a href="{{ page.base_url }}examples2.html">Examples</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{{ page.base_url }}about.html">About</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="https://github.com/xeolabs/scenejs#downloads">Downloads</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="https://github.com/xeolabs/scenejs/issues">Issues</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="https://github.com/xeolabs/scenejs/tree/V3.1/licenses">License</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="https://twitter.com/search?src=typd&q=scenejs">Twitter</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="http://www.facebook.com/group.php?gid=350488973712">Facebook</a>
    </div>
</div>
