<div id="top">
    <div class="links">
        <a href="{{ page.base_url }}examples.html">Examples</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{{ page.base_url }}about/">About</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="https://github.com/xeolabs/scenejs#downloads">Downloads</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="https://github.com/xeolabs/scenejs/issues">Issues</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="https://github.com/xeolabs/scenejs/tree/V3.1/licenses">License</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="https://twitter.com/xeolabs">Twitter</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="http://www.facebook.com/group.php?gid=350488973712">Facebook</a>
    </div>

    <!--<div class="links"><span>Home</span>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="about.html">About</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="examples.html">Examples</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a-->
            <!--href="https://github.com/xeolabs/scenejs#downloads">Downloads</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a-->
            <!--href="https://github.com/xeolabs/scenejs/issues">Issues</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a-->
            <!--href="https://github.com/xeolabs/scenejs/tree/V3.1/licenses">License</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a-->
            <!--href="https://twitter.com/xeolabs">Twitter</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a-->
            <!--href="http://www.facebook.com/group.php?gid=350488973712">Facebook</a></div>-->
</div>

