{#template MAIN}
<div id="error">
    <div id="error-expletive">WebGL is not enabled in this browser!</div>
    <div id="error-title">You need to enable WebGL to run the Playroom examples</div>
    <p><span>WebGL is a new standard specification currently being developed to display hardware-accelerated 3D graphics
        in web browsers, without the need for special plugins.</span></p>

    <p><span>Currently, it's only available in the development builds of most browsers, but you can easily get yourself one
        of those and start using SceneJS right now.</span>

    <h1>Here's how</h1>
    <h2>Chromium</h2>
    <p><span>WebGL is supported in the Chromium continuous builds for Linux, Mac OS X, and Windows. The most recent builds are
    available here:
</span></p>
    <ul>
        <li><span> Linux 32-bit: <a href="http://build.chromium.org/buildbot/continuous/linux/LATEST/"
                                    class="external free"
                                    title="http://build.chromium.org/buildbot/continuous/linux/LATEST/" rel="nofollow">http://build.chromium.org/buildbot/continuous/linux/LATEST/</a>
        </span></li>
        <li><span> Linux 64-bit: <a href="http://build.chromium.org/buildbot/snapshots/chromium-rel-linux-64/"
                                    class="external free"
                                    title="http://build.chromium.org/buildbot/snapshots/chromium-rel-linux-64/"
                                    rel="nofollow">http://build.chromium.org/buildbot/snapshots/chromium-rel-linux-64/</a>
        </span></li>
        <li><span> Mac OS X: <a href="http://build.chromium.org/buildbot/continuous/mac/LATEST/" class="external free"
                                title="http://build.chromium.org/buildbot/continuous/mac/LATEST/" rel="nofollow">http://build.chromium.org/buildbot/continuous/mac/LATEST/</a>
        </span></li>
        <li><span> Windows: <a href="http://build.chromium.org/buildbot/continuous/win/LATEST/" class="external free"
                               title="http://build.chromium.org/buildbot/continuous/win/LATEST/" rel="nofollow">http://build.chromium.org/buildbot/continuous/win/LATEST/</a>
        </span></li>
    </ul>
    <p><span>Linux/32, Mac and Windows point to the folder containing <code>chrome-linux.zip</code>, <code>chrome-mac.zip</code>,
    or <code>chrome-win32.zip</code>. For Linux/64, choose the highest numbered folder. Unpack the zip archive.
</span></p>

    <p><span>Chromium must be launched from the command line in order to enable WebGL.
</span></p>
    <ul>
        <li><span> Linux: <code>./chrome --no-sandbox --enable-webgl</code>
        </span></li>
        <li><span> Mac OS X: <code>Chromium.app/Contents/MacOS/Chromium --no-sandbox --enable-webgl</code>
        </span></li>
        <li><span> Windows: <code>chrome.exe --no-sandbox --enable-webgl</code>
        </span></li>
    </ul>
    <p><span><b>Note</b> that enabling WebGL currently requires disabling Chromium's security sandbox, which is strongly
    discouraged for arbitrary web browsing. Work is ongoing to remove this requirement.
</span></p>

    <h2>Firefox</h2>

    <p><span>WebGL is supported in the nightly builds of Firefox. Visit <a
            href="http://ftp.mozilla.org/pub/mozilla.org/firefox/nightly/latest-trunk/" class="external free"
            title="http://ftp.mozilla.org/pub/mozilla.org/firefox/nightly/latest-trunk/" rel="nofollow">http://ftp.mozilla.org/pub/mozilla.org/firefox/nightly/latest-trunk/</a>
    for builds on Linux (32- and 64-bit), Mac OS X and Windows.
</span></p>

    <p><span>After downloading the browser, enable WebGL: type <b>about:config</b> into the address bar, search for "webgl",
    and double-click "webgl.enabled_for_all_sites" to set it to true.
</span></p>

    <p><span>The implementation requires working OpenGL 2.1 drivers. If OpenGL is not available, software rendering can be
    used through Mesa, by setting the "webgl.osmesalib" variable to point to a version of OSMesa compiled with MGL
    namespace mangling.
</span></p>

    <h2>Safari</h2>

    <p><span>WebGL is supported on Mac OS X 10.5 and 10.6 in the WebKit nightly builds available at <a
            href="http://nightly.webkit.org/" class="external free" title="http://nightly.webkit.org/" rel="nofollow">http://nightly.webkit.org/</a>
    .
</span></p>

    <p><span>After downloading and installing the browser, open the Terminal and type the following:
</span></p>

    <p></p><span><code>
    defaults write com.apple.Safari WebKitWebGLEnabled -bool YES
</code></span></p>
    <p><span>This command only needs to be run once. All future invocations of the browser will run with WebGL enabled.
</span></p>


</div>
{#/template MAIN}