* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    line-height: 1em; /*color: #393939;*/
    color: #444444;
    text-align: center;
    background-color: #d4e0eb;
}

a {
    color: #1170A3 !important;
    text-decoration: none;
    border-bottom: 1px dotted #ccccff;
}

a:visited {
    color: #1170A3 !important;
    text-decoration: none;
    border-bottom: 1px dotted #ccccff;
}

a:hover {
    color: maroon !important;
    text-decoration: none;
    border-bottom: 1px solid #9999ff;
}

a img {
    text-decoration: none;
    border: none;
}

h1 {
    color: #cc6600;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: normal;
    padding: 35px 0 30px;
}

h2 {
    color: #cc6600 !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 25px 0 20px 0;
    font-size: 1.4em;
    font-weight: normal;

}

h3 {

    color: #cc6600 !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 25px 0px 20px;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.5em;
}

h4 {
    color: #444444 !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 5px 0 10px;
    font-size: 0.8em;
    font-weight: bold;

}

#banner {
/*height: 120px;*/
    height: 0px;
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: #000099 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 5em;
    font-weight: bold;
    line-height: 2.2em;
    padding-left: 10px;
    text-align: left;
}

#logo {
    position: absolute;
    top: 20px;
    left: 15px;
}

#container {
    position: relative;
    width: 1060px !important;
    min-width: 1060px !important; /*padding: 10px 10px 10px 50px;*/
    margin: 0 auto;
    border: 0;
    clear: both;
    background: url('box-shadow.png') repeat-y 0% 0%;
    padding: 0px 10px;
}


#header {
      text-align: left;;
}

#header-nav {
    background: #ffffff;
    margin: 0 auto;
    height: 44px;
    width: auto;
    padding: 10px 15px 0px;
}

#header-inner {
    background: #ffffff url(a-xeolabs-project.png) no-repeat scroll right center;
    text-align: left;
    vertical-align: middle;
    margin: 0 auto;
    min-height: 120px;
    width: auto;
    padding-left: 15px;
    padding-top: 0px;
}

#header-inner h1 {
    color: #cc6600;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 2.0em;
    font-weight: normal;
    padding: 50px 0 30px;
    text-align: left;
    line-height: 1pt;
}

.normal-width {
    width: 80%;
}

#content {
    overflow: auto;
    text-align: left;
    margin: 0 auto;
    border-top: 2px solid lightgray;
    border-bottom: 1px solid lightgray;

    background: #ffffff;
    padding: 15px;
    height: 3000px;
}

#content p {
    color: #444444 !important;
    padding-bottom: 5px;
    font-size: 0.8em;
}

#content p span {
    color: #444444 !important;
    line-height: 1.5em;
}

#content p b {
}

#content p .code {
    color: #444444 !important;
    font: 1em fixed-width;
    font-weight: bold;
    padding: 2px;
    border: 1px solid lightgray;
}

#content p em {
    float: right;
    padding: 0 28% 0 0;
    font-style: normal;
    font-size: 1em;
}

#content ul {
    padding-top: 0px;

}

#content ul li {
    line-height: 1.4em;
    color: #444444 !important;    
    margin-left: 20px;
}

#content ul.hlist li  {
    line-height: 1.4em;
    color: #444444 !important;    
    margin-left: 5px;
    display: inline;
    list-style-type: none;
}

#content p.intro {
    margin: auto;
    color: #CC6600 !important;
    font-size: 1.2em;
    line-height: 1.5em;
    padding-bottom: 20px;
}

#footer {
    margin: auto;
    height: 40px;
    width: 100%;
    background: white;
}

#footer p {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: normal;
    color: #005599;
    padding: 13px 0 0 24px;
    margin: 0;
    border: 0;
    text-align: center;

}

#current-version {
    color: #999999;
}


#content #three-column-table {
    padding-top: 20px;
    margin: 0 auto;
}

#content #three-column-table #col1 {
    float: left;
    text-align: left;
    margin: 0 auto;
    width: 600px;
    height: auto;
}

/* Min -width styles */
.min_width {
    padding: 0 480px;
    text-align: left;
}

.min_width .min_width_inner {
    width: 100%; /*  gives the element hasLayout */
}

.min_width .min_width_container {
    margin: 0 -480px;
    position: relative;
    float: left;
}

#load-ide {
    width: 800px;
    height: 2000px;
    margin: 0 auto;
    text-align: center;
}

#two-col-table {
    float: left;
    height: 1500px;
    height: auto;
    width: 100%;
    overflow: auto; /*padding-top: 20px;*/
    margin: 0 auto;
    padding-top: 20px;
}

#two-col-table h1 {
    padding-top: 5px;
    padding-bottom: 20px;

}

#two-col-table #col1 {
    float: left;
    text-align: left;
    margin: 0 auto;
    width: 450px;
    height: auto;

}

#two-col-table #col2 {
    float: left;
    padding-left: 40px;
    text-align: center;
    margin: 0 auto;
    width: auto;
    height: auto;
    padding-right: 0px;
}

#two-col-table p.intro {
    padding-bottom: 0px;
}

#examples-table {
    overflow: auto;
    height: auto;
    margin-top: 10px;
    margin-bottom: 40px;

}

#examples-table #col1 {
    float: left;
    padding: 10px;
    padding-right: 15px;
    text-align: left;
    margin: 0 auto;
    height: auto;
    width: 300px;
}

#examples-table #col2 {
    float: left;
    padding: 10px;
    padding-right: 5px;
    text-align: left;
    margin: 0 auto;
    height: auto;
    width: 300px;
}

#examples-table #col3 {
    float: left;
    padding: 10px;
    padding-right: 5px;
    text-align: left;
    margin: 0 auto;
    height: auto;
    width: 300px;
}

#load-ide h1 {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

#load-ide p.intro {
    margin: auto;
    color: #444444 !important;
    font-size: 1.2em;
    line-height: 1.7em;
    padding-bottom: 10px;
}

#examples-table p.category-title {
    font-size: 1.0em;
    line-height: 1.1em;
    font-weight: bold;
    margin-top: 0;
    padding: 0px 0px 10px;
    color: #444444 !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#examples-table p.example-title {
    font-size: 0.9em;
    line-height: 1.1em;
    font-weight: normal;
}

#examples-table .col2 {
    float: right;
    padding: 10px;
    padding-left: 5px;
    text-align: left;
    margin: 0 auto;
    width: 450px;
    height: auto;

}

.ide-width {
100 % !important;
}

/* Sangraal layout styles */
#playroom-ide {
    position: relative;
    overflow: hidden;
    min-width: 960px; /* For good browsers */
}

/* Left column */
#playroom-ide #column01 {
    padding-right: 10px;
    padding-left: 30px;
    float: left;
    text-align: left;
    text-align: left;

}

#content #content-body #column1 {
    width: 480px;
    float: left;
    padding-right: 20px;
}

#content #content-body #column2 {
    width: 480px;
    float: right;
}

