#mashup {
    padding-top: 10px;
}

#mashup .date {
    color: #888;
    font-size: 0.8em;
}

#mashup h2 {
    padding: 1px 0 10px;
}

#github-issues {
    width: 580px;
    float: left;
    padding-right: 20px;
}

.github-url {
    padding-bottom: 20px;
    font-size: 0.9em;
    font-weight: bold;
}

#github-commits {
    width: 600px;
    float: right;
}

#github-commits .commit {
    border-top: 1px solid #cccccc;
}

#github-commits .commit .signature {
    color: #999999;
    font-size: 0.9em;
    padding: 10px 0;
}

#github-commits .commit .message {
    color: #444444;
    font-size: 0.9em;
    font-style: italic;
    padding: 0 0 15px;
}

