{#template MAIN}

<div id="accordion">
    {#foreach $T.categories as category}
    <h3><a href="#">{$T.category.title}</a></h3>

    <div>
        <!--<div id="ide-examples-table">-->
            {#foreach $T.category.examples as example}
            <!--<div class="row">-->
        
                <p class="title">
                    <a href="ide.html?url=http://scenejs.org/library/v0.7/scenes/examples/{$T.example.file}&title={$T.example.title}">{$T.example.title}</a>
                </p>

                <p><span>{$T.example.description}</span></p>
        <br/><br/>
            <!--</div>-->
            {#/for}
        <!--</div>-->
    </div>
    {#/for}
</div>
{#/template MAIN}