{#template MAIN}
        
<div class="column03">
    <div class="restraint">
        <div id="output-panel-header" class="output-panel-header green-title">
        </div>
        <div id="output-area">
            <canvas id="_scenejs-default-canvas" width="600" height="600"></canvas>
        </div>
        <div id="_scenejs-default-logging"></div>
    </div>
</div>
<div class="column02">
    <div class="restraint">
        <div class="source-panel-header green-title">
            <span>Editing:&nbsp;&nbsp;<a target="other" href="{$T.url}">{$T.truncatedUrl}</a></span>
        </div>
        <div id="script-text-area">
           
        </div>
    </div>

</div>
{#/template MAIN}