<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

        <!-- misc utils (not important for this example) -->
        <script src="{{ page.base_url }}assets/js/utils.js"></script>

        <title>SceneJS V{{ site.current_version }} Example</title>

        <style>

            body {
                margin: 0;
                -moz-user-select: -moz-none;
                -khtml-user-select: none;
                -webkit-user-select: none;
            }

        </style>
    
    </head>
    <body>

        {{ content }}

    </body>
</html>
