<!DOCTYPE html>
<html lang="en">
<head>
    <title>SceneJS Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <style>
        body {
            margin: 0;
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
        }
    </style>

    <script src="../../../../build/latest/scenejs.js"></script>
    <script src="../../../../build/latest/extras/orbitControl.js"></script>
</head>
<body>

<script>

    var scene = SceneJS.createScene({

        nodes:[
            {
                type:"lights",
                lights:[
                    {
                        mode:"ambient",
                        color:{ r:0.0, g:0.0, b:0.0 },
                        diffuse:true,
                        specular:false
                    },
                    {
                        mode:"dir",
                        color:{ r:1.0, g:1.0, b:1.0 },
                        diffuse:true,
                        specular:true,
                        dir:{ x:-0.5, y:0.5, z:-1.0 },
                        space:"world"
                    },
                    {
                        mode:"dir",
                        color:{ r:1.0, g:1.0, b:0.2 },
                        diffuse:false,
                        specular:true,
                        dir:{ x:1.0, y:0.9, z:-0.7 },
                        space:"world"
                    }
                ],

                nodes:[
                    {
                        type:"material",
                        color:{ r:0.3, g:0.5, b:0.3 },

                        nodes:[
                            {
                                type:"shader",
                                id:"myShader",

                                shaders:[

                                    {
                                        stage:"fragment",

                                        code:"vec4 myPixelColorFunc(vec4 color) {\n\
                                                            float m = mod(gl_FragCoord.y, 4.0);\n\
                                                            if (m < 1.5) {\n\
                                                               color = vec4(0.0, 0.0, 0.0, 1.0);\n\
                                                            } else if (m < 2.0) {\n\
                                                               color = vec4(0.2, 0.2, 0.2, 1.0);\n\
                                                            } else if (m < 2.5) {\n\
                                                               color = vec4(0.2, 0.2, 0.2, 1.0);\n\
                                                            }\n\
                                                           return color;\n\
                                                        }",

                                        hooks:{
                                            pixelColor:"myPixelColorFunc"
                                        }
                                    }
                                ],

                                // This teapot will enjoy our custom shader injection:
                                nodes:[
                                    {
                                        type:"translate",
                                        y:-1,

                                        nodes:[
                                            {
                                                type:"geometry",
                                                plugin:"teapot"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    });

//    // DAT GUI menu
//
//    var shader = scene.findNode("myShader");
//
//    var Menu = function () {
//        this.xrayEnabled = true;
//        this.xrayOpacity = 0.3;
//        this.xrayColor = true;
//        var self = this;
//        var update = function () {
//            shader.setParams({
//                xrayEnabled:self.xrayEnabled,
//                xrayOpacity:self.xrayOpacity,
//                xrayColor:self.xrayColor
//            });
//            requestAnimationFrame(update);
//        };
//        update();
//    };
//
//    var gui = new dat.GUI();
//    var menu = new Menu();
//    var direction = gui.addFolder('Shader Params');
//    direction.add(menu, 'xrayEnabled');
//    direction.add(menu, 'xrayOpacity', 0.0, 1.0);
//    direction.add(menu, 'xrayColor');
//    direction.open();

    // Mouse camera orbit

    new SceneJS.OrbitControls(scene, {
        yaw:30,
        pitch:-30,
        zoom:10
    });

</script>
</body>
</html>