* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.clear {
    clear: both;
    font-size: 0%;
    line-height: 0%;
    height: 0;
}

input, select {
    vertical-align: middle;
    font-weight: normal;
}

img {
    border: 0;
    vertical-align: top;
    text-align: left;
}

ul, ol {
    list-style: none;
}

object {
    vertical-align: top;
}

a {
    color: #0000FF;
}

a:hover {
    text-decoration: none;
}

body {
    background: #fff url(../images/body-stripe.gif) repeat-x 0% 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 1em; /*color: #393939;*/
    color: black;
    text-align: center;
}

h1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 5px 0 25px 0;
    font-size: 2.2em;
    font-weight: normal;
    color: #2c2c2c;
    text-align: center;
}

h2 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 1px 0 11px 0;
    font-size: 1.583em;
    font-weight: normal;
    color: #7c7c7c;
}

h2.extra {
    word-spacing: -3px;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.col-1, .col-2, .col-3, .col-4 {
    float: left;
    overflow: hidden;
}

.block-1, .block-2, .block-3, .block-4 {
    float: left;
    overflow: hidden;
}

#main {
    width: 908px;
    margin: 0 auto;
    font-size: 0.8em;
    text-align: left;
}

#header {
    height: 250px;
    position: relative;
}

#home #header {
    height: 442px;
    background: url(../images/header_splash.jpg) no-repeat 0% 0%;
}

#header #headerContent {
    position: absolute;
    text-align: center;
    top: 160px; /*left: 40px;*/
    width: 100%;
}

#header #headerContentContainer {
    padding: 10px;
}

#header #headerContent h1 {
    padding-bottom: 16px;
}

#header #headerContent p {
    line-height: 1.417em;
    color: #666;
    padding-bottom: 10px;
}

#header #headerContent p span {
    color: #333;
}

#logo {
    position: absolute;
    top: 20px;
    left: 15px;
}

#menu {
    position: absolute;
    top: 57px;
    left: 400px;
}

#menu li {
    float: left;
    padding: 0 7px 0 0;
}

#menu li.extra {
    padding: 0;
}

#menu li a {
    margin: 0 9px 0 9px;
    padding: 0 9px 0 9px;
    line-height: 21px;
    text-decoration: none;
    color: #3c4245;
}

#menu li a:hover {
    background: url(../images/menu-left.gif) no-repeat 0% 0%;
    display: inline-block;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #002c53;
}

#menu li a:hover span {
    background: url(../images/menu-right.gif) no-repeat 100% 0%;
    display: inline-block;
}

#menu li a:hover span span {
    background: url(../images/menu-tail.gif) repeat-x 0% 0%;
    display: inline-block;
    height: 21px;
    margin: 0 9px 0 9px;
    padding: 0 9px 0 9px;
}

#menu li#menu-act a {
    background: url(../images/menu-left.gif) no-repeat 0% 0%;
    display: inline-block;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #002c53;
}

#menu li#menu-act a span {
    background: url(../images/menu-right.gif) no-repeat 100% 0%;
    display: inline-block;
}

#menu li#menu-act a span span {
    background: url(../images/menu-tail.gif) repeat-x 0% 0%;
    display: inline-block;
    height: 21px;
    margin: 0 9px 0 9px;
    padding: 0 9px 0 9px;
}

#header-list {
    position: absolute;
    top: 178px;
    left: 712px;
}

#header-list li {
    padding: 0 0 10px 0;
}

#content {
    text-align: left;
}

#content h2 {
    color: #3c4245;
}

#content p {
    line-height: 1.417em;
    color: #666;
    padding-top: 8px;
}

#content p span {
    color: #333;
}

#content #contact a {
    border-bottom: 1px dotted;
    text-decoration: none;
}

#content #imageDiv img {
    margin-left: 100px;
}

#content p em {
    float: right;
    padding: 0 28% 0 0;
    font-style: normal;
}

.row-1 {
    min-height: 142px;
    height: auto !important;
    padding: 1px 26px 10px 24px;
}

.headRow {
    min-height: 142px;
    height: auto !important;
    padding: 2px 2px 2px 2px;
}

.line-ver-1 {
    background: url(../images/line-ver.gif) repeat-y;
}

.list li {
    background: url(../images/marker.gif) no-repeat 0% 9px;
    padding: 0 0 0 11px;
    line-height: 1.75em;
}

#footer {
    float: right;
    height: 40px;
}

#footer p {
    padding: 13px 0 0 24px;
    color: #999999;
}

#blogPanel {
    position: absolute;
    top: 140px;
    left: 25px;
    text-decoration: none;
}

#blogPanel a {
    background: url(../images/login.jpg) no-repeat 0% 0%;
    margin: 0 0 0 0;
    padding: 0 18px 0 18px;
    color: #3c4245;
    font-weight: bold;
    text-decoration: none;
}

#blogPanel a:hover {
    background: url(../images/login-highlight.jpg) no-repeat 0% 0%;
    margin: 0 0 0 0;
    padding: 0 18px 0 18px;
    cursor: pointer;
    color: #002c53;
    font-weight: bold;
    text-decoration: none;
}

#freshPanel {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    line-height: 1em;
    padding-top: 8px;
}

#newsPanel {
    text-decoration: none;
    margin: 0 0 20px 15px;
}

#newsPanel a {
    background: url(../images/login.jpg) no-repeat 0% 0%;
    margin: 0 0 0 0;
    padding: 0 18px 0 18px;
    color: #0000ff;
    font-weight: normal;
    text-decoration: none;
}

#newsPanel a:hover {
    background: url(../images/login-highlight.jpg) no-repeat 0% 0%;
    margin: 0 0 0 0;
    padding: 0 18px 0 18px;
    cursor: pointer;
    color: #002c53;
    font-weight: normal;
    text-decoration: none;
}

#itemHeader {
    color: #3c4245;
    padding-top: 5px;
    padding-left: 25px;
}

#itemContent {
    color: #999;
    padding: 0 0 0 25px;
}

#itemContent a {
    background: none;
    padding: 0 0 0 10px;
    margin: 0 0 0 0;
}

#itemContent a:hover {
    background: none;
    padding: 0 0 0 10px;
    margin: 0 0 0 0;
}

#itemContent img {
    vertical-align: baseline;
}

ul.featureList {
    margin: 0;
    padding: 0 0 0 30px;
    list-style: none;
}

ul.featureList li {
    padding-left: 15px;
    background-image: url(../images/icon_bullet.gif);
    background-repeat: no-repeat;
    background-position: 0 .35em;
}

b.class-name {
    color: #555;
}
