/** {*/
/*outline: 2px dotted red*/
/*}*/

/** * {*/
/*outline: 2px dotted green*/
/*}*/

/** * * {*/
/*outline: 2px dotted orange*/
/*}*/

/** * * * {*/
/*outline: 2px dotted blue*/
/*}*/

/** * * * * {*/
/*outline: 1px solid red*/
/*}*/

/** * * * * * {*/
/*outline: 1px solid green*/
/*}*/

/** * * * * * * {*/
/*outline: 1px solid orange*/
/*}*/

/** * * * * * * * {*/
/*outline: 1px solid blue*/
/*}*/

* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    line-height: 1em; /*color: #393939;*/
    color: #444444;
    text-align: center;

}

a {
    text-decoration: none;
    color: #1170A3 !important;
}

a:visited {
    text-decoration: none;
    color: #1170A3 !important;
}

a:hover {
    text-decoration: none;
    color: maroon !important;
}

a img {
    text-decoration: none;
    border: none;
}

h1 {
    color: #cc6600;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: normal;
    padding: 35px 0 30px;
    text-align: left;
}

h2 {
    color: #cc6600 !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 25px 0 20px 0;
    font-size: 1.4em;
    font-weight: normal;

}

h3 {

    color: #cc6600 !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 25px 0px 20px;
    font-size: 1.2em;
    font-weight: normal;

}

h4 {
    color: #444444 !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 5px 0 10px;
    font-size: 0.8em;
    font-weight: bold;

}

#banner {
/*height: 120px;*/
    height: 0px;
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: #000099 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 5em;
    font-weight: bold;

    line-height: 2.2em;
    padding-left: 10px;
    text-align: left;
}

#logo {
    position: absolute;
    top: 20px;
    left: 15px;
}

#container {
    padding: 10px 10px 10px 50px;
    margin: 0;
    border: 0;
}

/* -----------------------/  Site Tabs /----------------- */

div.site-tabs {
    padding: 0;
    margin: 0;
    border: 0;
}

ul.site-tabs {
    background: #005599;
    border: 0;
    color: #555522;
    font-weight: bold;
    padding-left: 60% !important;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
}

ul.site-tabs li {
    background: white;
    color: #D09984;
    display: inline;
    list-style: none;
    padding: 1px 15px 1px 15px;
}

ul.site-tabs a {
    color: #444444;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: bolder;
}

ul.site-tabs li.ui-state-default {
    color: #444444;
    border-color: #666669;
    background: #acaccd;

}

ul.site-tabs li.ui-state-default a {
    color: #0000ff;
}

ul.site-tabs li.ui-state-active {
    color: #004444 !important;
    background: white;

}

ul.site-tabs li.ui-state-active a {
    color: #004444 !important;
    border-bottom: 1px white solid;
}

.ui-tabs .ui-tabs-panel {
    height: 90%;
    padding: 0px;
}

/* -----------------------/   /----------------- */

#page {
    font-family: Arial, Helvetica, sans-serif;
}

.buffered-page-visible {
    padding-left: 0px;
}

.buffered-page-invisible {
    padding-left: 10000px;
}

#header {
    background: transparent url(../images/a-xeolabs-project.png) no-repeat scroll right center;
    text-align: left;
    vertical-align: middle;
    margin: 0 auto;
    height: 120px;
    margin-right: 20px;
}

#header h1 {
    color: #cc6600;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 2.0em;
    font-weight: normal;
    padding: 50px 0 30px;
    text-align: left;
    line-height: 1pt;
}

.normal-width {
    width: 80%;
}

#content {
    overflow: auto;
    text-align: left;
    margin: 0 auto;
    width: auto;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    height: auto; /*background: #E5ECF9;*/
    background: #ffffff;
}

#content p {
    color: #444444 !important;
    padding-bottom: 8px;
    font-size: 0.8em;
}

#content p span {
    color: #444444 !important;
    line-height: 1.5em;
}

#content p b {
}

#content p .code {
    color: #444444 !important;
    font: 1em fixed-width;
    font-weight: bold;
    padding: 2px;
    border: 1px solid lightgray;
}

#content a {
    color: blue;
    text-decoration: none;
}

#content a:hover {
    color: maroon;
}

#content a.active {
    color: blue;
}

#content p em {
    float: right;
    padding: 0 28% 0 0;
    font-style: normal;
    font-size: 1em;
}

#content ul {
    padding-top: 0px;

}

#content ul li {
    line-height: 1.4em;
    color: #444444 !important;
    font-size: 0.8em;
}

#content p.intro {
    margin: auto;
    color: #CC6600 !important;
    font-size: 1.1em;
    line-height: 1.5em;
    padding-bottom: 30px;
}

#footer {
    margin: auto;
    height: 40px;
}

#footer p {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: normal;
    color: #005599;
    padding: 13px 0 0 24px;
    margin: 0;
    border: 0;
    text-align: center;
}

/* -----------------------/  Home /----------------- */

#home-table {
    float: left;
    height: 1500px;
    width: 1200px;
    overflow: auto; /*padding-top: 20px;*/
    margin: 0 auto;

}

#home-table #col1 {
    float: left;
    text-align: left;
    margin: 0 auto;
    width: 500px;
    height: auto;
}

#home-table #col1 h1 {
    text-align: left;
    font-size: 2.4em;
    line-height: 1.2em;
    font-family: "Helvetica", sans-serif;
    padding: 25px 0 20px 0;
    font-weight: bold;
}

#home-table #col1 h3 {
    color: #cc6600 !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 5px 0px 20px;
    font-size: 1.2em;
    font-weight: normal;
}

#home-table #col2 {
    float: left;
    padding-left: 40px;
    text-align: left;
    margin: 0 auto;
    width: 300px;
    height: auto;
}

#home-table #col2 h3 {
    background: transparent url(../images/tick.png) no-repeat scroll left center;
    margin-top: 10px;
    padding: 10px 40px 10px;
}

#home-table  #col2 p {
    padding-left: 40px;
}

#home-table #col3 {
    float: left;
    padding-left: 40px;
    text-align: left;
    margin: 0 auto;
    width: 320px;
    height: auto;
}

#home-table  #col3 .home-menu-item {
    height: auto;
    padding: 0px 20px 15px 75px;
    margin-bottom: 5px;
}

#home-table  #col3  .home-menu-item a.title {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    line-height: 1.4em;
    font-weight: bold;
}

#home-table  #col3  .home-menu-item .copy {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    font-weight: normal;
    line-height: 1.4em;
    color: #444444;
}

#home-table  #col3  #home-download {
    background: url(../images/import1.png) no-repeat scroll 15px 5px;
}

#home-table  #col3  #home-plugins {
    background: url(../images/registry.png) no-repeat scroll 15px 5px;
}

#home-table  #col3  #home-playroom {
    background: url(../images/demo-icon-large.png) no-repeat scroll 15px 5px;
}

#home-table  #col3  #home-tutorials {
    background: url(../images/tutorial-icon.png) no-repeat scroll 15px 5px;
}

#home-table  #col3  #home-facebook {
    background: url(../images/facebook50.png) no-repeat scroll 15px 5px;
}

#home-table  #col3  #home-dev {
    background: url(../images/gears.png) no-repeat scroll 15px 5px;
}

#home-table  #col3  #home-assets {
    background: url(../images/server_client_exchange.png) no-repeat scroll 15px 5px;
}

/* -----------------------/  Features /----------------- */

#features-table {
    float: left;
    height: 1500px;
    width: 1200px;
    overflow: auto; /*padding-top: 20px;*/
    margin: 0 auto;
}

#features-table hr.line {
    width: 320px;
    height: 0px;
    color: #666666;
    background-color: #666666;
    margin-left: 40px;

}

#features-table h1 {
    text-align: left;
    font-size: 2.6em;
    line-height: 1em;
    font-family: "Helvetica", Arial, Helvetica, sans-serif;
    padding: 25px 0 20px 0;
    font-weight: normal;
}

#features-table .feature {
    background: transparent url(../images/tick.png) no-repeat scroll left 25px;
    margin-top: 10px;
    padding: 30px 40px 10px;
    color: #cc6600 !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

#features-table .sub-feature {
    padding: 10px 40px 10px;
    color: #000000 !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    font-weight: normal;
}

#features-table p {
    padding-left: 40px;
}

#features-table p.demo {
    background: transparent url(../images/demo-icon-small.png) no-repeat scroll left center;
    color: #444444 !important;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 25px;
    margin-left: 40px;
    font-size: 0.8em;
}

#features-table p.tutorial {
    background: transparent url(../images/tutorial-icon-small.png) no-repeat scroll left center;
    color: #444444 !important;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 25px;
    margin-left: 40px;
    font-size: 0.8em;
}

#features-table #col1 {
    float: left;
    text-align: left;
    margin: 0 auto;
    width: 350px;
    height: auto;
}

#features-table #col2 {
    float: left;
    padding-left: 40px;
    text-align: left;
    margin: 0 auto;
    width: 350px;
    height: auto;
}

#features-table  #col2 p {
    padding-left: 40px;
}

#features-table #col3 {
    float: right;
    padding-left: 40px;
    text-align: left;
    margin: 0 auto;
    width: 350px;
    height: auto;
}

#features-table  #col3 .home-menu-item {
    height: auto;
    padding: 0px 15px 15px 75px;
    margin-bottom: 5px;
}

#features-table  #col3  .home-menu-item a.title {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    line-height: 1.4em;
    font-weight: bold;
}

#features-table  #col3  .home-menu-item .copy {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    font-weight: normal;
    line-height: 1.4em;
    color: #444444;
}

#features-table  #col3  #home-download {
    background: url(../images/import1.png) no-repeat scroll 15px 5px;
}

#features-table  #col3  #home-plugins {
    background: url(../images/registry.png) no-repeat scroll 15px 5px;
}

#features-table  #col3  #home-playroom {
    background: url(../images/registry.png) no-repeat scroll 15px 5px;
}

#features-table  #col3  #home-tutorials {
    background: url(../images/blogger_logo.gif) no-repeat scroll 15px 5px;
}

#features-table  #col3  #home-facebook {
    background: url(../images/facebook50.png) no-repeat scroll 15px 5px;
}

#features-table  #col3  #home-dev {
    background: url(../images/gears.png) no-repeat scroll 15px 5px;
}

#features-table  #col3  #home-assets {
    background: url(../images/server_client_exchange.png) no-repeat scroll 15px 5px;
}

/* ----------------------------------------------------- */

#content #three-column-table {
    padding-top: 20px;
    margin: 0 auto;
}

#content #three-column-table #col1 {
    float: left;
    text-align: left;
    margin: 0 auto;
    width: 600px;
    height: auto;
}

/* -----------------------/  Playroom /----------------- */

.playroom-header {
    background: transparent url(../images/lego.png) no-repeat scroll right center;
    padding-left: 40px !important;
}

/* Min -width styles */
.min_width {
    padding: 0 480px;
    text-align: left;
}

.min_width .min_width_inner {
    width: 100%; /*  gives the element hasLayout */
}

.min_width .min_width_container {
    margin: 0 -480px;
    position: relative;
    float: left;
}

.playroom-content {
    padding-left: 50px !important;

}

/* Sangraal layout styles */
#playroom-ide {
    position: relative;
    overflow: hidden;
    min-width: 960px; /* For good browsers */
}

/* Left column */
#playroom-ide .column01 {
    padding-right: 10px;
    padding-left: 30px;
    float: left;
    text-align: left;
    text-align: left;

}

/* Width is set in inner div of column to avoid the use of negative margins */
#playroom-ide .column01 .restraint {
    width: 250px;
}

/* Width is set in inner div of column to avoid the use of negative margins */
#playroom-ide .column03 .restraint {
    width: 600px;
}

/* Left column */
#playroom-ide .column03 {
    padding: 0 10px 10px 10px;
    float: right;
}

/* Middle column */
#playroom-ide .column02 {
    padding: 0 0px 0px 0;
    overflow: hidden;
}

#playroom-ide .column02 .text-area-title {
    height: 25px;
    text-align: left;
}

#playroom-ide .column02 #script-text-area {
    background: #f6f6f6;
    border: 1px solid rgb(150, 150, 150);
    height: 1000px;
    margin-bottom: 10px;
}

#playroom-ide .column02 #layout-text-area {
    background: #f6f6f6;
    border: 1px solid rgb(150, 150, 150);
    height: 200px;
}

#playroom-ide .column02 .restraint {
    width: 100%;
}

* html #playroom-ide .column02 {
/* cause hasLayout so middle column will sit between left and right */
    display: inline-block;
}

#playroom-ide ul.explorer-example-list {
    background: none !important;
    font-weight: bold !important;
}

#playroom-ide li.explorer-category {
    color: #cc6600 !important;
    font-weight: bold !important;
    line-height: 1em;

}

#playroom-ide li.explorer-example {
    font-weight: bold !important;
    font-size: 1em;
}

/* Playroom error message */

#playroom-ide #output-area {
    padding-left: 10px;
    white-space: normal;
    text-align: left;
    width: 660px;
}

#playroom-ide #_scenejs-default-logging {
    padding-top: 15px;
    padding-left: 10px;
    white-space: normal;
    text-align: left;
    width: 660px;
}

#playroom-ide  #error {
    white-space: normal;
    padding-right: 10px;
}

#playroom-ide  #error #error-expletive {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    line-height: 1.6em;
    font-weight: bold;
    color: #cc0000;
    padding: 5px 0 20px;
    white-space: normal;
}

#playroom-ide  #error #error-title {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: bold;
    color: #cc0000;
    padding: 5px 0 20px;
    white-space: normal;
}

#playroom-ide  #error #error-message {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.4em;
    font-weight: normal;
    color: #666666;
    padding: 0 0 15px;
    white-space: normal;
}

#playroom-ide  #error #error-advice {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.4em;
    font-weight: normal;
    white-space: normal;
}

/* Playroom feedback message */

#playroom-ide #output-area #feedback {
    white-space: normal;
    padding-right: 10px;
}

#playroom-ide #output-area #feedback #feedback-expletive {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    line-height: 1.6em;
    font-weight: bold;
    color: #00cc00;
    padding: 5px 0 20px;
    white-space: normal;
}

#playroom-ide #output-area #feedback #feedback-title {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: bold;
    color: #00cc00;
    padding: 5px 0 20px;
    white-space: normal;
}

#playroom-ide #output-area #feedback #feedback-message {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.4em;
    font-weight: normal;
    color: #666666;
    padding: 0 0 15px;
    white-space: normal;
}

#playroom-ide #output-area #feedback #feedback-wait {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background: transparent url(../images/throbber.gif) no-repeat scroll left top;
    font-size: 1.0em;
    line-height: 1.4em;
    font-weight: normal;
    color: #666666;
    padding: 0 50px 15px;
    white-space: normal;
}

#playroom-ide #output-area #feedback #feedback-advice {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.4em;
    font-weight: normal;
    white-space: normal;
}

#playroom-ide #output-area p {
    padding-top: 8px;

}

#playroom-ide #output-area span {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    font-size: 0.8em;
    font-weight: normal;
}

#playroom-ide #output-area a {
/*border-bottom: 1px dotted;*/
    text-decoration: none;
}

#playroom-ide #output-area p em {
    float: right;
    font-style: normal;
    padding: 0 28% 0 0;
}

#playroom-ide #output-area h1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    padding: 25px 0 10px;
    text-align: left;
}

#playroom-ide #output-area h2 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 20px 0 10px 0;
    font-size: 1.0em;
    font-weight: bold;
}

#playroom-ide #output-area ol, ul {
    margin: 0;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

#playroom-ide #output-area li {
    margin-left: 10px;
    padding-left: 10px;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

#playroom-ide #output-area code {
    background: #eeeeee;
    font-family: Courier, "Courier New", monospace;
}

#playroom-ide #output-area pre {
    background: lightgray;
    font-family: Courier, "Courier New", monospace;
}

#playroom-ide #output-area a {
    text-decoration: none;
}

#playroom-ide #output-area a:hover {
    text-decoration: none;
    color: maroon;

}

/* Toolbar above example source and output tab sets
*/
#playroom-ide .source-panel-header {
    width: auto;
    padding: 15px 25px 5px 0;
    height: 25px;
    text-align: left;
}

#playroom-ide .output-panel-header {
    width: auto;
    padding: 15px 25px 5px 10px;
    height: 25px;
    text-align: left;
}

#playroom-ide .green-title {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    color: #336600;
}

#playroom-ide .come-back-often {
    padding-top: 40px;
    color: #999900 !important;
    font-size: 0.8em;

}

#playroom-ide #explorer-title {
}

#playroom-ide #example-title {
    font-weight: bold;
}

#playroom-ide #example-file-select {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    color: #336600;
    float: left;
    width: auto;
    padding: 10px 25px 25px 0;
}

#playroom-ide .output-panel-header #run-button {

    width: auto;
    padding: 10px 10px 10px 30px;
    background: url(../images/media_play_green.png) no-repeat left center;
    height: 25px;
    vertical-align: middle;
}

/* -----------------------/  Dev /----------------- */

.dev-header {
    background: transparent url(../images/github_logo_sm.png) no-repeat scroll right center;
}

#content #content-body #column1 {
    width: 480px;
    float: left;
    padding-right: 20px;
}

#content #content-body #column2 {
    width: 480px;
    float: right;
}

#content #content-body .author {
    padding-top: 5px;
    padding-bottom: 20px;
    margin: auto;
    overflow: auto;
}

#content #content-body .author .portrait {
    float: left;
    padding-right: 10px;
}

#content #content-body .author .details {
    float: right;
    margin: auto;
    text-align: left;
    width: 360px;
}

/*==========================================================
 Downloads
============================================================*/

.downloads-header {

}

#content #content-body #releases .release {
    clear: both;
    padding-bottom: 30px;
    overflow: auto;
    margin: auto;
    height: auto;
}

#content #content-body #releases .release .details {
    width: 480px;
    float: left;
    padding-right: 20px;
    padding-top: 20px;
}

#content #content-body #releases .release h2 {
    border-bottom: 1px solid #CCCCCC;
    color: #CC6600 !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px 0 10px;
}

#content #content-body #releases .release .details .date {
}

#content #content-body #releases .release .details .description {
}

#content #content-body #releases .release .files {
    width: 480px;
    float: right;
    padding-top: 20px;
}

#content #content-body #releases .release .files img {
}

#content #content-body #releases .release .files img {
    margin-right: 10px;
    padding: 15px;
    border: dashed 1px;
}

#content #content-body #releases .release .files .download-count {
    text-align: center;
}

#content #content-body #releases .release .files .download-count .download-count-line1 {
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 2em;
    font-weight: bold;
    color: #999900 !important;
}

#content #content-body #releases .release .files .download-count .download-count-line2 {
    font-weight: bold;
    color: #999900 !important;
}

/* -----------------------/  Assets /----------------- */

.assets-header {
/*background: transparent url(../images/dev/github_logo_sm.png) no-repeat scroll right center;*/
}

/* Sangraal layout styles */
#assets {
    padding-bottom: 20px;
    margin: 0 auto;
    overflow: auto;
    position: relative;
    min-width: 960px; /* For good browsers */
}

#assets #explorer-title {
}

#assets #asset-title {
    font-weight: bold;
}

#assets .assets-prompt {
    width: auto;
    padding: 15px 25px 5px 0;
    height: 35px;
    text-align: left;
}

#assets .green-title {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    color: #336600;
}

#content #assets #column1 {
    width: 260px;
    float: left;
    padding-right: 0px;
}

#content #assets #column2 {
    width: 700px;
    float: right;
    border-left: 2px solid #cccccc;
    padding-left: 10px;
}

#content #assets ul.explorer-asset-list {
    background: none !important;
    font-weight: bold !important;
}

#content #assets li.explorer-category {
    color: #cc6600 !important;
    font-weight: bold !important;
    line-height: 1em;

}

#content #assets li.explorer-asset {
    font-weight: bold !important;
    font-size: 1em;
}

#content #assets #column2 #asset-selection {
    margin: 0 auto;
    overflow: hidden;
}

#content #assets #column2 #asset-selection #asset-preview {
    float: left;
    width: 400px;

}

#content #assets #column2 #asset-selection #asset-preview #previewCanvas {

    background: black;
}

#content #assets #column2 #asset-selection #asset-metadata {
    float: left;
    width: 290px;
    padding-left: 10px;
}

#content #assets #column2 .row {
    margin: 0 auto;
    font-size: 0.8em;
    padding-bottom: 10px;
}

#content #assets #column2   .rowspan {
    font-size: 0.8em;
    width: 260px;
}

#content #assets #column2   .row .name {
/*background-color: #cccccc;*/
    color: #444444 !important;

    padding: 3px 10px 3px 3px;
}

#content #assets #column2  .row .value {
    background-color: #f4f4f4;
    padding: 3px 3px 3px 3px;
}

#content #assets #column2   .row .textbox {
    background: none;
    padding: 0px;
}

#content #assets #column2   .row .textbox #asset-pastie {
    background-color: #f4f4f4;
    width: 100%;

}

#assets #explorer-title {
}

#assets #example-title {
    font-weight: bold;
}