/** {*/
/*outline: 2px dotted red*/
/*}*/

/** * {*/
/*outline: 2px dotted green*/
/*}*/

/** * * {*/
/*outline: 2px dotted orange*/
/*}*/

/** * * * {*/
/*outline: 2px dotted blue*/
/*}*/

/** * * * * {*/
/*outline: 1px solid red*/
/*}*/

/** * * * * * {*/
/*outline: 1px solid green*/
/*}*/

/** * * * * * * {*/
/*outline: 1px solid orange*/
/*}*/

/** * * * * * * * {*/
/*outline: 1px solid blue*/
/*}*/

* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    line-height: 1em; /*color: #393939;*/
    color: #444444;
    text-align: center;

}

a {
    color: #1170A3 !important;
    text-decoration: none;
    border-bottom: 1px dotted #ccccff;
}

a:visited {
    color: #1170A3 !important;
    text-decoration: none;
    border-bottom: 1px dotted #ccccff;
}

a:hover {
    color: maroon !important;
    text-decoration: none;
    border-bottom: 1px solid #9999ff;
}

a img {
    text-decoration: none;
    border: none;
}

h1 {
    color: #cc6600;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: normal;
    padding: 35px 0 30px;
}

h2 {
    color: #cc6600 !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 25px 0 20px 0;
    font-size: 1.4em;
    font-weight: normal;

}

h3 {

    color: #cc6600 !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 25px 0px 20px;
    font-size: 1.2em;
    font-weight: normal;

}

h4 {
    color: #444444 !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 5px 0 10px;
    font-size: 0.8em;
    font-weight: bold;

}

#banner {
/*height: 120px;*/
    height: 0px;
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: #000099 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 5em;
    font-weight: bold;

    line-height: 2.2em;
    padding-left: 10px;
    text-align: left;
}

#logo {
    position: absolute;
    top: 20px;
    left: 15px;
}

#container {
    position: relative;
    width: 960px;
    min-width: 960px; /*padding: 10px 10px 10px 50px;*/
    margin: 0 auto;
    border: 0;
    clear: both;
}

#wide-container {
    position: relative;
    width: 100%; /*padding: 10px 10px 10px 50px;*/
    margin: 0 auto;
    border: 0;
}

/* -----------------------/  Site Tabs /----------------- */

div.site-tabs {
    padding: 0;
    margin: 0;
    border: 0;
}

ul.site-tabs {
    background: #005599;
    border: 0;
    color: #555522;
    font-weight: bold;
    padding-left: 60% !important;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
}

ul.site-tabs li {
    background: white;
    color: #D09984;
    display: inline;
    list-style: none;
    padding: 1px 15px 1px 15px;
}

ul.site-tabs a {
    color: #444444;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: bolder;
}

ul.site-tabs li.ui-state-default {
    color: #444444;
    border-color: #666669;
    background: #acaccd;

}

ul.site-tabs li.ui-state-default a {
    color: #0000ff;
}

ul.site-tabs li.ui-state-active {
    color: #004444 !important;
    background: white;

}

ul.site-tabs li.ui-state-active a {
    color: #004444 !important;
    border-bottom: 1px white solid;
}

.ui-tabs .ui-tabs-panel {
    height: 90%;
    padding: 0px;
}

/* -----------------------/   /----------------- */

#page {
    font-family: Arial, Helvetica, sans-serif;
}

.buffered-page-visible {
    padding-left: 0px;
}

.buffered-page-invisible {
    padding-left: 10000px;
}

#header {
    background: transparent url(../images/a-xeolabs-project.png) no-repeat scroll right center;
    text-align: left;
    vertical-align: middle;
    margin: 0 auto;
    height: 120px;
    width: 100%;
}

#header h1 {
    color: #cc6600;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 2.0em;
    font-weight: normal;
    padding: 50px 0 30px;
    text-align: left;
    line-height: 1pt;
}

.normal-width {
    width: 80%;
}

#content {
    overflow: auto;
    text-align: left;
    margin: 0 auto;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    height: auto; /*background: #E5ECF9;*/
    background: #ffffff;
}

#content p {
    color: #444444 !important;
    padding-bottom: 5px;
    font-size: 0.8em;
}

#content p span {
    color: #444444 !important;
    line-height: 1.5em;
}

#content p b {
}

#content p .code {
    color: #444444 !important;
    font: 1em fixed-width;
    font-weight: bold;
    padding: 2px;
    border: 1px solid lightgray;
}

#content p em {
    float: right;
    padding: 0 28% 0 0;
    font-style: normal;
    font-size: 1em;
}

#content ul {
    padding-top: 0px;

}

#content ul li {
    line-height: 1.4em;
    color: #444444 !important;
}

#content p.intro {
    margin: auto;
    color: #CC6600 !important;
    font-size: 1.2em;
    line-height: 1.7em;
    padding-bottom: 20px;
}

#footer {
    margin: auto;
    height: 40px;
}

#footer p {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: normal;
    color: #005599;
    padding: 13px 0 0 24px;
    margin: 0;
    border: 0;
    text-align: center;
}

/* -----------------------/  Home /----------------- */

#home-table {

    height: 1600px;

    margin: 0 auto;

}

#home-table #col1 {
    float: left;
    text-align: left;
    margin: 0 auto;
    width: 600px;
    height: auto;
}

#home-table #col1 h1 {
    text-align: left;
    font-size: 2.4em;
    line-height: 1.2em;
    font-family: "Helvetica", sans-serif;
    padding: 25px 0 20px 0;
    font-weight: bold;
}

#home-table #col1 h3 {
    color: #cc6600 !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 5px 0px 20px;
    font-size: 1.2em;
    font-weight: normal;
}

#home-table #col2 {
    float: left;
    padding-left: 40px;
    padding-right: 0px;
    text-align: left;
    margin: 0 auto;
    width: 310px;
    height: auto;
}

#home-table  #col2 p {
    padding-left: 0px;
}

#home-table  #col2 .home-menu-item {
    height: auto;
    padding: 0px 20px 15px 75px;
    margin-bottom: 5px;
}

#home-table  #col2  .home-menu-item p.title {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.4em; /*line-height: 1.4em;*/
    font-weight: bold;
    padding-bottom: 10px;
    color: #666666 !important;

}

#home-table  #col2  .home-menu-item .copy {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.4em;
    color: #444444;
}

#home-download {
    height: auto;
    padding: 15px 20px 15px 70px;
    background: rgb(230, 255, 230) url(../images/import1.png) no-repeat scroll 10px 10px;
    border: 1px solid rgb(200, 200, 200);
    margin-bottom: 30px;
}

#home-download p.title {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #006633 !important;
    font-size: 1.6em;
    line-height: 1.4em;
    font-weight: bold;
}

#home-download p.status {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #009900 !important;
    font-size: 1.0em;
    line-height: 1.1em;
    font-weight: bold;
}

#home-download p.new-features {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #440000 !important;
    font-size: 1.2em;
    line-height: 1.1em;
    font-weight: bold;
}

#home-download ul {
    padding: 0px;
    padding-top: 5px;
    padding-left: 20px;
}

#home-download li {
    font-size: 1.1em !important;
    line-height: 0.6em !important;
}

#home-table  #col2  #home-learn {
    background: url(../images/tutorial-icon.png) no-repeat scroll 15px 0px;
}

#home-table  #col2  #home-examples {
    background: url(../images/demo-icon-large.png) no-repeat scroll 15px 0px;
}

#home-table  #col2 #home-examples ul li {
    line-height: 1.4em;
    color: #444444 !important;
    margin-bottom: 10px;
}

#home-table  #col2  #home-community {
    background: url(../images/registry.png) no-repeat scroll 15px 0px;
}

#home-table  #col2  #home-facebook {
    background: url(../images/facebook50.png) no-repeat scroll 15px 0px;
}

#home-table  #col2  #home-dev {
    background: url(../images/gears.png) no-repeat scroll 15px 0px;
}

#home-table  #col2  #home-assets {
    background: url(../images/server_client_exchange.png) no-repeat scroll 15px 0px;
}

/* -----------------------/  Features /----------------- */

/* Youtube Playlist */

#youtube-playlist {
    width: 960px;
    height: auto;
    overflow: auto; /*padding-top: 20px;*/
    margin: 0 auto;
}

#youtube-video {
    float: left;
    margin-right: 10px;
}

.youtube-playlist-holder {
/*background: #f3f3f3;*/
    padding: 0px;
    float: left; /*border: 1px solid #e3e3e3;*/
    margin-bottom: 15px;
    width: auto;
}

.youtube-playlist-holder ul {
/*background: #f3f3f3;*/
    float: left;
    margin: 0;
    padding: 0;
    width: 270px;
    height: 505px;
}

.youtube-playlist-holder ul li {
    list-style-type: none;
    display: block;
    background: #f1f1f1;
    float: left;
    width: 266px;
    margin-bottom: 5px;
    padding: 2px;

}

.youtube-playlist-holder ul li img {
    width: 120px;
    float: left;
    margin-right: 5px;
    border: 1px solid #999;
}

.youtube-playlist-holder ul li a {
    font-family: georgia;
    text-decoration: none;
    display: block;
    color: #000;
}

.youtube-playlist-holder .currentvideo {
    background: #e6e6e6;
}

/* Features Table */

#features-table {
    height: 3000px;
    overflow: auto; /*padding-top: 20px;*/
    margin: 0 auto;
}

#features-table hr.line {
    width: auto;
    height: 0px;
    color: #666666;
    background-color: #666666;
    margin-left: 0px;

}

#features-table h1 {
    text-align: left;
    font-size: 2.6em;
    line-height: 1em;
    font-family: "Helvetica", Arial, Helvetica, sans-serif;
    padding: 25px 0 20px 0;

    font-weight: normal;
}

#features-table .feature {
    margin-top: 10px; /*padding: 30px 40px 10px;*/
    padding: 30px 0px 10px;
    color: #cc6600 !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

#features-table .sub-feature {
/*padding : 10 px 40 px 10 px;*/
    padding: 10px 0px 10px;
    color: #000000 !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    font-weight: normal;
    line-height: 1.4em;
}

#features-table p {
/*padding-left : 40 px;*/
/*padding-left: 0px;*/
}

#features-table p.demo {
    background: transparent url(../images/demo-icon-small.png) no-repeat scroll left center;
    color: #444444 !important;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 0px;
    padding-left: 25px;
    font-size: 0.8em;
}

#features-table p.tutorial {
    background: transparent url(../images/tutorial-icon-small.png) no-repeat scroll left center;
    color: #444444 !important;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 25px;
    margin-left: 0px;
    font-size: 0.8em;
}

#features-table #col1 {
    float: left;
    text-align: left;
    margin: 0 auto;
    width: 280px;
    height: auto;
}

#features-table #col2 {
    float: left;
    padding-left: 30px;
    text-align: left;
    margin: 0 auto;
    width: 280px;
    height: auto;
}

#features-table #col3 {
    overflow: auto;
    float: right;
    padding-left: 0px;
    padding-top: 30px;
    text-align: left;
    margin: 0 auto;
    width: 320px;
    height: 2000px;
}

/*#features-table  #col3 p {*/
/*padding-left: 0px;*/
/*}*/

#features-table  #col3 .home-menu-item {
    height: auto;
    padding: 0px 15px 15px 75px;
    margin-bottom: 5px;
}

#features-table  #col3  .home-menu-item a.title {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    line-height: 1.4em;
    font-weight: bold;
}

#features-table  #col3  .home-menu-item .copy {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    font-weight: normal;
    line-height: 1.4em;
    color: #444444;
}

/*#features-table  #col3  #home-download {*/
/*background: url(../images/import1.png) no-repeat scroll 15px 5px;*/
/*}*/

/*#features-table  #col3  #home-plugins {*/
/*background: url(../images/registry.png) no-repeat scroll 15px 5px;*/
/*}*/

/*#features-table  #col3  #home-examples {*/
/*background: url(../images/registry.png) no-repeat scroll 15px 5px;*/
/*}*/

/*#features-table  #col3  #home-community {*/
/*background: url(../images/blogger_logo.gif) no-repeat scroll 15px 5px;*/
/*}*/

/*#features-table  #col3  #home-facebook {*/
/*background: url(../images/facebook50.png) no-repeat scroll 15px 5px;*/
/*}*/

/*#features-table  #col3  #home-dev {*/
/*background: url(../images/gears.png) no-repeat scroll 15px 5px;*/
/*}*/

/*#features-table  #col3  #home-assets {*/
/*background: url(../images/server_client_exchange.png) no-repeat scroll 15px 5px;*/
/*}*/

/* ----------------------------------------------------- */

#content #three-column-table {
    padding-top: 20px;
    margin: 0 auto;
}

#content #three-column-table #col1 {
    float: left;
    text-align: left;
    margin: 0 auto;
    width: 600px;
    height: auto;
}

/* -----------------------/  Playroom /----------------- */

.playroom-header {
    background: transparent url(../images/lego.png) no-repeat scroll right center;
    padding-left: 40px !important;
}

/* Min -width styles */
.min_width {
    padding: 0 480px;
    text-align: left;
}

.min_width .min_width_inner {
    width: 100%; /*  gives the element hasLayout */
}

.min_width .min_width_container {
    margin: 0 -480px;
    position: relative;
    float: left;
}

#load-ide {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

#load-ide-table {
    float: left;
    height: 1500px;
    width: 100%;
    overflow: auto; /*padding-top: 20px;*/
    margin: 0 auto;
    padding-top: 50px;
}

#load-ide-table h1 {
    padding-top: 5px;
    padding-bottom: 20px;

}

#load-ide-table #col1 {
    float: left;
    text-align: left;
    margin: 0 auto;
    width: 450px;
    height: auto;

}

#load-ide-table #col2 {
    float: left;
    padding-left: 40px;
    text-align: center;
    margin: 0 auto;
    width: auto;
    height: auto;
    padding-right: 0px;
}

#load-ide-table p.intro {    
    padding-bottom: 0px;
}

#ide-examples-table {
    overflow: auto;
    height: auto;
    margin-top: 10px;
    margin-bottom: 40px;

}

#ide-examples-table .row {
    margin-bottom: 20px;
    padding: 0;
    float: left;
    width: 100%;
    overflow: auto; /*padding-top: 20px;*/

}

#ide-examples-table .col1 {
    float: left;
    padding: 10px;
    padding-right: 5px;
    text-align: right;
    margin: 0 auto;
    height: auto;
    width: 300px;
}

#load-ide h1 {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

#load-ide p.intro {
    margin: auto;
    color: #444444 !important;
    font-size: 1.2em;
    line-height: 1.7em;
    padding-bottom: 10px;
}

#ide-examples-table p.title {
    font-size: 1.0em;
    line-height: 1.1em;
    font-weight: bold;
}

#ide-examples-table .col2 {
    float: right;
    padding: 10px;
    padding-left: 5px;
    text-align: left;
    margin: 0 auto;
    width: 450px;
    height: auto;

}

.ide-width {
100 % !important;
}

/* Sangraal layout styles */
#playroom-ide {
    position: relative;
    overflow: hidden;
    min-width: 960px; /* For good browsers */
}

/* Left column */
#playroom-ide .column01 {
    padding-right: 10px;
    padding-left: 30px;
    float: left;
    text-align: left;
    text-align: left;

}

/* Width is set in inner div of column to avoid the use of negative margins */
#playroom-ide .column01 .restraint {
    width: 250px;
}

/* Width is set in inner div of column to avoid the use of negative margins */
#playroom-ide .column03 .restraint {
    width: 600px;
}

/* Left column */
#playroom-ide .column03 {
    padding: 0 10px 10px 10px;
    float: right;
}

/* Middle column */
#playroom-ide .column02 {
    padding: 0 0px 0px 0;
    overflow: hidden;
}

#playroom-ide .column02 .text-area-title {
    height: 25px;
    text-align: left;
}

#playroom-ide .column02 #script-text-area {
    background: #f6f6f6;
    border: 1px solid rgb(150, 150, 150);
    height: 2000px;
    margin-bottom: 10px;
}

#playroom-ide .column02 #layout-text-area {
    background: #f6f6f6;
    border: 1px solid rgb(150, 150, 150);
    height: 200px;
}

#playroom-ide .column02 .restraint {
    width: 100%;
}

* html #playroom-ide .column02 {
/* cause hasLayout so middle column will sit between left and right */
    display: inline-block;
}

#playroom-ide ul.explorer-example-list {
    background: none !important;
    font-weight: bold !important;
}

#playroom-ide li.explorer-category {
    color: #cc6600 !important;
    font-weight: bold !important;
    line-height: 1em;

}

#playroom-ide li.explorer-example {
    font-weight: bold !important;
    font-size: 1em;
}

/* Playroom error message */

#playroom-ide #output-area {
    padding-left: 10px;
    white-space: normal;
    text-align: left;
    width: 660px;
}

#playroom-ide #_scenejs-default-logging {
    padding-top: 15px;
    padding-left: 10px;
    white-space: normal;
    text-align: left;
    width: 660px;
}

#playroom-ide  #error {
    white-space: normal;
    padding-right: 10px;
}

#playroom-ide  #error #error-expletive {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    line-height: 1.6em;
    font-weight: bold;
    color: #cc0000;
    padding: 5px 0 20px;
    white-space: normal;
}

#playroom-ide  #error #error-title {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: bold;
    color: #cc0000;
    padding: 5px 0 20px;
    white-space: normal;
}

#playroom-ide  #error #error-message {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.4em;
    font-weight: normal;
    color: #666666;
    padding: 0 0 15px;
    white-space: normal;
}

#playroom-ide  #error #error-advice {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.4em;
    font-weight: normal;
    white-space: normal;
}

/* Playroom feedback message */

#playroom-ide #output-area #feedback {
    white-space: normal;
    padding-right: 10px;
}

#playroom-ide #output-area #feedback #feedback-expletive {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    line-height: 1.6em;
    font-weight: bold;
    color: #00cc00;
    padding: 5px 0 20px;
    white-space: normal;
}

#playroom-ide #output-area #feedback #feedback-title {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: bold;
    color: #00cc00;
    padding: 5px 0 20px;
    white-space: normal;
}

#playroom-ide #output-area #feedback #feedback-message {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.4em;
    font-weight: normal;
    color: #666666;
    padding: 0 0 15px;
    white-space: normal;
}

#playroom-ide #output-area #feedback #feedback-wait {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background: transparent url(../images/throbber.gif) no-repeat scroll left top;
    font-size: 1.0em;
    line-height: 1.4em;
    font-weight: normal;
    color: #666666;
    padding: 0 50px 15px;
    white-space: normal;
}

#playroom-ide #output-area #feedback #feedback-advice {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.4em;
    font-weight: normal;
    white-space: normal;
}

#playroom-ide #output-area p {
    padding-top: 8px;

}

#playroom-ide #output-area span {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    font-size: 0.8em;
    font-weight: normal;
}

#playroom-ide #output-area a {
/*border-bottom: 1px dotted;*/
    text-decoration: none;
}

#playroom-ide #output-area p em {
    float: right;
    font-style: normal;
    padding: 0 28% 0 0;
}

#playroom-ide #output-area h1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    padding: 25px 0 10px;
    text-align: left;
}

#playroom-ide #output-area h2 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 20px 0 10px 0;
    font-size: 1.0em;
    font-weight: bold;
}

#playroom-ide #output-area ol, ul {
    margin: 0;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

#playroom-ide #output-area li {
    margin-left: 10px;
    padding-left: 10px;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

#playroom-ide #output-area code {
    background: #eeeeee;
    font-family: Courier, "Courier New", monospace;
}

#playroom-ide #output-area pre {
    background: lightgray;
    font-family: Courier, "Courier New", monospace;
}

#playroom-ide #output-area a {
    text-decoration: none;
}

#playroom-ide #output-area a:hover {
    text-decoration: none;
    color: maroon;

}

/* Toolbar above example source and output tab sets
*/
#playroom-ide .source-panel-header {
    width: auto;
    padding: 15px 25px 5px 0;
    height: 25px;
    text-align: left;
}

#playroom-ide .output-panel-header {
    width: auto;
    padding: 15px 25px 5px 10px;
    height: 25px;
    text-align: left;
}

#playroom-ide .green-title {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    color: #336600;
}

#playroom-ide .come-back-often {
    padding-top: 40px;
    color: #999900 !important;
    font-size: 0.8em;

}

#playroom-ide #explorer-title {
}

#playroom-ide #example-title {
    font-weight: bold;
}

#playroom-ide #example-file-select {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    color: #336600;
    float: left;
    width: auto;
    padding: 10px 25px 25px 0;
}

#playroom-ide .output-panel-header #run-button {

    width: auto;
    padding: 10px 10px 10px 30px;
    background: url(../images/media_play_green.png) no-repeat left center;
    height: 25px;
    vertical-align: middle;
}

/* */

.buttons a, .buttons button {
    display: block;
    float: left;
    margin: 0 7px 0 0;
    background-color: #f5f5f5;
    border: 1px solid #dedede;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;

    font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size: 12px;
    line-height: 130%;
    text-decoration: none;
    font-weight: bold;
    color: #565656;
    cursor: pointer;
    padding: 5px 10px 6px 7px; /* Links */
}

.buttons button {
    width: auto;
    overflow: visible;
    padding: 4px 10px 3px 7px; /* IE6 */
}

.buttons button[type] {
    padding: 5px 10px 5px 7px; /* Firefox */
    line-height: 17px; /* Safari */
}

*:first-child+html button[type] {
    padding: 4px 10px 3px 7px; /* IE7 */
}

.buttons button img, .buttons a img {
    margin: 0 3px -3px 0 !important;
    padding: 0;
    border: none;
    width: 16px;
    height: 16px;
}

/* STANDARD */

button:hover, .buttons a:hover {
    background-color: #dff4ff;
    border: 1px solid #c2e1ef;
    color: #336699;
}

.buttons a:active {
    background-color: #6299c5;
    border: 1px solid #6299c5;
    color: #fff;
}

/* POSITIVE */

button.positive, .buttons a.positive {
    color: #529214;
}

.buttons a.positive:hover, button.positive:hover {
    background-color: #E6EFC2;
    border: 1px solid #C6D880;
    color: #529214;
}

.buttons a.positive:active {
    background-color: #529214;
    border: 1px solid #529214;
    color: #fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative {
    color: #d12f19;
}

.buttons a.negative:hover, button.negative:hover {
    background: #fbe3e4;
    border: 1px solid #fbc2c4;
    color: #d12f19;
}

.buttons a.negative:active {
    background-color: #d12f19;
    border: 1px solid #d12f19;
    color: #fff;
}

/* REGULAR */

button.regular, .buttons a.regular {
    color: #336699;
}

.buttons a.regular:hover, button.regular:hover {
    background-color: #dff4ff;
    border: 1px solid #c2e1ef;
    color: #336699;
}

.buttons a.regular:active {
    background-color: #6299c5;
    border: 1px solid #6299c5;
    color: #fff;
}

/* -----------------------/  Dev /----------------- */

.dev-header {
    background: transparent url(../images/github_logo_sm.png) no-repeat scroll right center;
}

#content #content-body #column1 {
    width: 480px;
    float: left;
    padding-right: 20px;
}

#content #content-body #column2 {
    width: 480px;
    float: right;
}

#content #content-body .author {
    padding-top: 5px;
    padding-bottom: 20px;
    margin: auto;
    overflow: auto;
}

#content #content-body .author .portrait {
    float: left;
    padding-right: 10px;
}

#content #content-body .author .details {
    float: right;
    margin: auto;
    text-align: left;
    width: 360px;
}

/*==========================================================
 Downloads
============================================================*/

#dev-table {
    float: left;
    height: 1500px;
    width: 100%;
    overflow: auto; /*padding-top: 20px;*/
    margin: 0 auto;
    padding-top: 50px;
}

#dev-table h1 {
    padding-top: 5px;
    padding-bottom: 20px;

}

#dev-table #col1 {
    float: left;
    text-align: left;
    margin: 0 auto;
    width: 400px;
    height: auto;

}

#dev-table #col2 {
    float: right;
    padding-left: 40px;
    text-align: right;
    margin: 0 auto;
    width: auto;
    height: auto;
    padding-right: 0px;
}

/* -----------------------/  Assets /----------------- */

.assets-header {
/*background: transparent url(../images/dev/github_logo_sm.png) no-repeat scroll right center;*/
}

/* Sangraal layout styles */
#assets {
    padding-bottom: 20px;
    margin: 0 auto;
    overflow: auto;
    position: relative;
    min-width: 960px; /* For good browsers */
}

#assets #explorer-title {
}

#assets #asset-title {
    font-weight: bold;
}

#assets .assets-prompt {
    width: auto;
    padding: 15px 25px 5px 0;
    height: 35px;
    text-align: left;
}

#assets .green-title {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    color: #336600;
}

#content #assets #column1 {
    width: 260px;
    float: left;
    padding-right: 0px;
}

#content #assets #column2 {
    width: 700px;
    float: right;
    border-left: 2px solid #cccccc;
    padding-left: 10px;
}

#content #assets ul.explorer-asset-list {
    background: none !important;
    font-weight: bold !important;
}

#content #assets li.explorer-category {
    color: #cc6600 !important;
    font-weight: bold !important;
    line-height: 1em;

}

#content #assets li.explorer-asset {
    font-weight: bold !important;
    font-size: 1em;
}

#content #assets #column2 #asset-selection {
    margin: 0 auto;
    overflow: hidden;
}

#content #assets #column2 #asset-selection #asset-preview {
    float: left;
    width: 400px;

}

#content #assets #column2 #asset-selection #asset-preview #previewCanvas {

    background: black;
}

#content #assets #column2 #asset-selection #asset-metadata {
    float: left;
    width: 290px;
    padding-left: 10px;
}

#content #assets #column2 .row {
    margin: 0 auto;
    font-size: 0.8em;
    padding-bottom: 10px;
}

#content #assets #column2   .rowspan {
    font-size: 0.8em;
    width: 260px;
}

#content #assets #column2   .row .name {
/*background-color: #cccccc;*/
    color: #444444 !important;

    padding: 3px 10px 3px 3px;
}

#content #assets #column2  .row .value {
    background-color: #f4f4f4;
    padding: 3px 3px 3px 3px;
}

#content #assets #column2   .row .textbox {
    background: none;
    padding: 0px;
}

#content #assets #column2   .row .textbox #asset-pastie {
    background-color: #f4f4f4;
    width: 100%;

}

#assets #explorer-title {
}

#assets #example-title {
    font-weight: bold;
}