div.main-tabs {
    padding: 0;
    margin: 0;
    border: 0;
}

ul.main-tabs {
    background: #005599;
    border: 0;
    color: #555522;
    font-weight: bold;
    padding-left: 800px !important;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
}

ul.main-tabs li {
    background: white;
    color: #D09984;
    display: inline;
    list-style: none;
    padding: 1px 15px 1px 15px;
}

ul.main-tabs a {
    text-decoration: none;
    font-size: 0.7em;
    font-weight: bolder;
}

ul.main-tabs li.ui-state-default {
    border-color: #666669;
    background: #acaccd;

}

ul.main-tabs li.ui-state-default a {
    color: black;
}

ul.main-tabs li.ui-state-active {
    background: white;

}

ul.main-tabs li.ui-state-active a {
    color: black;
    border-bottom: 1px white solid;
}

div.playroom-tabs {
    height: 95%;
}

ul.playroom-tabs li {
    background: white;
    color: #D09984;
    display: inline;
    list-style: none;
    padding: 1px 15px 1px 15px;
}

ul.playroom-tabs a {
    text-decoration: none;
    font-size: 0.7em;
    font-weight: bolder;
}

ul.playroom-tabs li.ui-state-active {
    background: white;
}

ul.playroom-tabs li.ui-state-active a {
    color: black;
    border-bottom: 1px white solid;
}

div.playroom-tabs-panel .ui-tabs .ui-tabs-panel {
    background: transparent none repeat scroll 0 0;
    border-width: 0;
    display: block;
    padding: 0 !important;
}